
body {
    background-color:  rgb(250, 250, 250);
}
/*-----------top Navigation---------------*/
.top_Navigation {
    background-color:  rgb(146, 226, 200);
    width: 100%;
    height: 10%;

    position: absolute;
    left: 0px;
    top: 0px;
}


#profileButton {
    position: absolute;
    right: 2%;
    top: 15%;
    height: 70%;
}

#notificationButton {
    position: absolute;
    right: 15%;
    top: 15%;
    height: 70%;
}

#tittle {
    position: absolute;
    top: 20%;
    left: 1%;
    color: white;
    text-shadow: 2px 2px rgb(93, 222, 173);
    font-size: 35px;
    font-size: 4vh;

    font-family: Arial, Helvetica, sans-serif;
}

#searchText {
    position: absolute;
    left: 4vh;
    top: 5%;
    height: 80%;
    width: 65%;
    outline: none;
    border: transparent;
    font-size: 2vh;
}

#searchBar{
position: absolute;

left: 0;
right: 0;
margin-left: auto;
margin-right: auto;

top: 20%;
height: 60%;
width: 40%;
background-color: white;
overflow: hidden;

}

#searchImg{
position: absolute;
left: 1%;
top: 25%;
height: 50%;
}
/*-----------top Navigation---------------*/

/*-----------bottom Navigation---------------*/
.bottom_Navigation {
  background-color:  rgb(146, 226, 200);
  width: 100%;
  height: 10%;
  
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.post_Navigation {
  background-color:  rgb(146, 226, 200);
  width:  350px;
  height: 100%;
  
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

#pageText {
    position: absolute;
    top: 0px;
    bottom: 0px;

    margin-top: auto;
    margin-bottom: auto;
    height: 50%;
    width: 15%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    
    outline: none;
    border: transparent;
    font-size: 2vh;
    text-align: center;
}

#leftArow{
position: absolute;
left: 50px;

top: 0px;
bottom: 0px;

margin-top: auto;
margin-bottom: auto;

height: 50%;
}

#rightArow{
position: absolute;
right: 50px;
top: 0px;
bottom: 0px;

margin-top: auto;
margin-bottom: auto;
height: 50%;
}

#startPage{
position: absolute;
left: 0px;
top: 0px;
bottom: 0px;

margin-top: auto;
margin-bottom: auto;
height: 30%;
}

#endPage{
position: absolute;
right: 0px;
top: 0px;
bottom: 0px;

margin-top: auto;
margin-bottom: auto;
height: 30%;

}
/*-----------bottom Navigation---------------*/

/*-----------post list---------------*/
.post_list {
    background-color:  rgb(245, 245, 245);
    width: 100%;
    height: 80%;

    position: absolute;
    bottom: 0px;
    top: 0px;
    left: 0px;

    margin-top: auto;
    margin-bottom: auto;
    overflow-y: scroll;
    z-index: -1;
}

/*more needs to be added to handle dif browsers*/
.post_list::-webkit-scrollbar {
 display: none;
}

#post {
    
    background-color:  rgb(255, 255, 255);
     width: 60%;
     height: 40vw;
     
     position: absolute;
     left: 5%;
     
}
#postImage {
     height: 100%;
     width: 40%;

     position: absolute;
     left: 0px;
     bottom: 0px;
     object-fit: contain;

}

#userImage {
     width: 10%;
     height: 10%;

     object-fit: contain;

     
     position: absolute;
     left: 40%;
     top: 2%;
}
#userName {
     width: 50%;
     height: 20%;
     
     position: absolute;
     left: 50%;
     top: 2%;
     font-size: 3vw;
     color: grey;

}

#foodTitle {
     width: 50%;
     height: 20%;
     
     position: absolute;
     left: 40%;
     top: 15%;
     font-size: 3vw;
     color: darkgray;

}

#foodDifficulty {
     width: 10%;
     height: 10vw;
     
     position: absolute;
     left: 40%;
     top: 20%;

}

#clock {
     width: 15%;
     height: 15%;
     
     position: absolute;
     left: 50%;
     top: 24%;
     object-fit: contain;

}
#time {
     width: 30%;
     height: 20%;
     
     position: absolute;
     left: 65%;
     top: 28%;
     font-size: 3vw;
}
#star1 {
    width: 15%;
    height: 15%;
    position: absolute;
    left: 40%;
    top: 40%;
    
}
#star2 {
    width: 15%;
    height: 15%;
    position: absolute;
    left: 51%;
    top: 40%;
    
}
#star3 {
    width: 15%;
    height: 15%;
    position: absolute;
    left: 62%;
    top: 40%;
    
}
#star4 {
    width: 15%;
    height: 15%;
    position: absolute;
    left: 73%;
    top: 40%;
    
}
#star5 {
    width: 15%;
    height: 15%;
    position: absolute;
    left: 84%;
    top: 40%;
    
}
#description {
     width: 60%;
     height: 45%;
     
     position: absolute;
     left: 40%;
     top: 55%;
     font-size: 3vw;
     color: darkgray;
}
#spacer {
     width: 60%;
     height: 10vw;
     
     position: absolute;
     left: 5%;

}
/*-----------post list---------------*/

/*-----------sign in / sign up---------------*/
#signInText {
     position: absolute;
     right: 20%;
     top: 15%;
     font-size: 3vw;
     z-index: 2;
     color: grey;
     text-decoration: none;

}

#signL {
     position: absolute;
     right: 17%;
     top: 14%;
     font-size: 5vw;
     z-index: 2;
     color: grey;
     text-decoration: none;

}

#signUpText {
     position: absolute;
     right: 5%;
     top: 15%;
     font-size: 3vw;
     z-index: 2;
     color: grey;
     text-decoration: none;

}

#signUpBox {
    
    background-color:  rgb(255, 255, 255);
     width: 30%;
     height: 40%;
     
     position: absolute;
     right: 2%;
     top: 25%;

     z-index: 1;
}

#email {
    background-color:  rgb(245, 245, 245);
    position: absolute;
    left: 10%;
    top: 5%;
    height: 10%;
    width: 80%;
    outline: none;
    border: transparent;
    font-size: 2vh;
}

#fullName {
    background-color:  rgb(245, 245, 245);
    position: absolute;
    left: 10%;
    top: 20%;
    height: 10%;
    width: 80%;
    outline: none;
    border: transparent;
    font-size: 2vh;
}

#username {
    background-color:  rgb(245, 245, 245);
    position: absolute;
    left: 10%;
    top: 35%;
    height: 10%;
    width: 80%;
    outline: none;
    border: transparent;
    font-size: 2vh;
}

#password {
    background-color:  rgb(245, 245, 245);
    position: absolute;
    left: 10%;
    top: 50%;
    height: 10%;
    width: 80%;
    outline: none;
    border: transparent;
    font-size: 2vh;
}

#signUp {
     background-color:  rgb(34, 192, 135);
     position: absolute;
     left: 10%;
     top: 80%;
     height: 10%;
     width: 80%;
     font-size: 3vh;
     color: white;
     text-align: center;
     text-decoration: none;

}

#signInBox {
    
    background-color:  rgb(255, 255, 255);
     width: 30%;
     height: 30%;
     
     position: absolute;
     right: 2%;
     top: 25%;

     z-index: 2;
}

#signInEmail {
    background-color:  rgb(245, 245, 245);
    position: absolute;
    left: 10%;
    top: 10%;
    height: 15%;
    width: 80%;
    outline: none;
    border: transparent;
    font-size: 3vh;
}

#signInPassword {
    background-color:  rgb(245, 245, 245);
    position: absolute;
    left: 10%;
    top: 40%;
    height: 15%;
    width: 80%;
    outline: none;
    border: transparent;
    font-size: 3vh;
}

#signIn {
     background-color:  rgb(34, 192, 135);
     position: absolute;
     left: 10%;
     top: 70%;
     height: 15%;
     width: 80%;
     font-size: 4vh;
     color: white;
     text-align: center;
     text-decoration: none;
}

/*-----------sign in / sign up---------------*/

/*-----------filter---------------*/

#moveFilter {
             background-color:      background-color:  rgb(245, 245, 245);
             position: absolute;
             right: 0;
             top: 10%;
             font-size: 3vh;
             z-index: 3;
             color: grey;
             text-decoration: none;
             border-left: 5px solid rgb(146, 226, 200);;
             border-bottom: 5px solid rgb(146, 226, 200);
             
             height: 5%;
             width: 5vh;
             color: rgb(146, 226, 200);
             text-align: center;

        }


/*-----------filter---------------*/
