.profile_page {
    background-color: rgb(245, 245, 245);
    width: 100%;
    height: 90%;
    position: absolute;
    bottom: 0px;
    top: 0px;
    left: 0px;
    margin-top: auto;
    margin-bottom: 0px;
    overflow-y: scroll;
    z-index: -1;
}

/*more needs to be added to handle dif browsers*/
.profile_page::-webkit-scrollbar {
 display: none;
}

#background_border {
    background-color: rgb(255, 255, 255);
    width: 90vw;
    height: 31vw;
    position: absolute;
    left: 5%;
     
}

#defaultprofile {
    height: 20vw;
    width: 20vw;
    position: absolute;
    left: 3vw;
    /* right: 79vw; */
    top: 3vw;
    /* bottom: 58%;*/
    object-fit: contain;

}
/*style of user name*/
#username {
    width: 16vw;
    height: 4vw;
    position: absolute;
    left: 24vw;
    top: 11vw;
    font-size: 3vw;
    color: grey;
}

/*the style of the profile edit button*/
#editButton {
    width: 8vw;
    height: 6vw;
    object-fit: contain;
    position: absolute;
    right: 30vw;
    top: 8.5vw;
}

/*the style link button to the post page*/

#ToPostPage {
    height: 7vw;
    position: absolute;
    width: 12vw;
    /* bottom: 26vw; */
    top: 8vw;
    right: 15vw;
    background-color: rgb(146, 226, 200);
    font-size: 3vw;
    cursor: pointer;
    color: #f3fffe;
    border: lightseagreen;
    border-radius: 3vw;
}
/*the posts, followers, following styles*/
.counts{
    background-color:rgba(245, 245, 245, 0);
    width: 90vw;
    height: 10vw;
    position: absolute;
    top: 15vw;
    /*left: 0px;
    margin-top: auto;
    margin-bottom: 0px;
    overflow-y: scroll;
    z-index: -1;*/
}
#postcount {
    width: 7vw;
    height: 4vw;
    position: absolute;
    left: 26vw;
    top: 2vw;
    font-size: 2.5vw;
    color: grey;
}

#posts {
    width: 13vw;
    height: 4vw;
    position: absolute;
    left: 24vw;
    top: 5vw;
    font-size: 2.5vw;
    color: grey;
}
#followercount {
    width: 7vw;
    height: 4vw;
    position: absolute;
    left: 37vw;
    top: 2vw;
    font-size: 2.5vw;
    color: grey;
}

#followers {
    width: 13vw;
    height: 4vw;
    position: absolute;
    left: 34vw;
    top: 5vw;
    font-size: 2.5vw;
    color: grey;
}

#followingcount {
    width: 7vw;
    height: 4vw;
    position: absolute;
    left: 53vw;
    top: 2vw;
    font-size: 2.5vw;
    color: grey;
}

#following {
    width: 13vw;
    height: 4vw;
    position: absolute;
    left: 49vw;
    top: 5vw;
    font-size: 2.5vw;
    color: grey;
}
/*pages class and everything in it*/
.pages {
    background-color:rgba(245, 245, 245, 0);
    width: 90vw;
    height: 10vw;
    position: absolute;
    top: 20vw; 
}

#myrecipes {
    position: absolute;
    left: 14vw;
    top: 6vw;
    font-size: 4vw;
    color: grey;
    text-decoration:none;

}

#favorites {
    position: absolute;
    right: 14vw;
    top: 6vw;
    font-size: 4vw;
    color: grey;
    text-decoration:none;

}
/*Images styles layout*/

.myimages{
    background-color: rgb(245, 245, 245);
    width: 100%;
    height: 80%;
    position: absolute;
    bottom: 0px;
    top: 0px;
    left: 0px;
    margin-top: 36vw;
    margin-bottom: auto;
    z-index: -1;
}

#gridlayout {
    height: 100%;
    width: 91.6%;
    position: absolute;
    bottom: 0px;
    top: 0vw;
    left: 5vw;
}

#MyR1{
    height: 24vw;
    width: 28vw;
    position: absolute;
    bottom: 0px;
    top: 0vw;
    left: 0vw;
}

#MyR2{
    height: 24vw;
    width: 28vw;
    position: absolute;
    bottom: 0px;
    top: 0vw;
    left: 31vw;
}

#MyR3{
    height: 24vw;
    width: 28vw;
    position: absolute;
    bottom: 0px;
    top: 0vw;
    right: 0vw;
}

#MyR4{
    height: 24vw;
    width: 28vw;
    position: absolute;
    bottom: 0px;
    top: 26vw;
    left: 0vw;
}

#MyR5{
    height: 24vw;
    width: 28vw;
    position: absolute;
    bottom: 0px;
    top: 26vw;
    left: 31vw;
}

#MyR6{
    height: 24vw;
    width: 28vw;
    position: absolute;
    bottom: 0px;
    top: 26vw;
    right: 0vw;
}
#goBack {
    position: absolute;
    bottom:0%;
    left: 0%;

     font-size: 5vh;
     cursor: pointer;
     
     color: rgb(146, 226, 200);
     border: 0px solid rgb(0, 0, 0);
     background-color:  rgba(146, 226, 200,0);
     z-index:20;
}

#imgImport{
    
    position: absolute;
    top:75%;
    left: 0%;
    z-index:20;

    
}

#newName {
    position: absolute;
    top: 7vw;
    left: 24vw;

    height: 3vw;
    width: 20vw;
    
    outline: none;
    font-size: 3vw;
    
    background-color:  rgba(0, 0, 0,0);
    z-index:20;

}

#saveNewName{
    position: absolute;

    font-size: 3vw;
    color: rgb(146, 226, 200);
    z-index:20;
    top: 7vw;
    left: 45vw;
    cursor: pointer;

}



#deleteAcount {
    height: 7vw;
    position: absolute;
    width: 12vw;
    /* bottom: 26vw; */
    top: 0vw;
    right: 0vw;
    background-color: rgb(146, 226, 200);
    font-size: 2vw;
    cursor: pointer;
    color: #f3fffe;
    border: lightseagreen;
    border-radius: 3vw;
}


#myrecipesList{

    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0px;
    top: 0px;
    left: 5%;
    margin-top: 36vw;
    margin-bottom: auto;
    z-index: -1;

}
#favoritesList{
    position: relative;

    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0px;
    top: 0px;
    right: 5%;
    margin-top: 36vw;
    margin-bottom: auto;
    z-index: -1;
}
#postImage {
    position: absolute;
    bottom: 0px;

    width: 100%;

     object-fit: contain;

}




#deleteRecipost{
    position: absolute;
    top: 0px;
    height: 4vw;
    width: 8vw;
    right: 0px;
    
    font-size: 3vw;
    text-align: center;

    outline: none;
    border: transparent;
    background-color: rgb(255, 255, 255);
    color: rgb(146, 226, 200);
    border: 5px solid rgb(146, 226, 200);;
}
