

/*the container must be positioned relative:*/
.timeFilter-select {
  position: relative;
  font-family: Arial;
}

.timeFilter-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: rgb(146, 226, 200);
}



/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: rgb(146, 226, 200);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
